/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



/* global Styles */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* Common Styles */
.primary-color {
    color: #0D1321;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
}
.text-center {
    text-align: center;
}
.section-title {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 24px;
}
.section-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.learn-more-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
}
.learn-more-btn:hover {
    cursor: pointer;
}
.light-black {
    color: rgba(13, 19, 33, 0.70);
}
.pb-24 {
    padding-bottom: 24px;
}

/* Header Area Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}
.logo {
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
}

/* Banner Styles */
.banner-area {
    padding: 26px 0 45px;
    background: url(../assets/Hero-bg.png);
}
.banner-content {
    width: 998px;
}
.banner-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding-top: 32px;
}
.banner-description {
    padding:24px 72px;
}
.banner-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 24px;
    background: #0D1321;
}

/* Why Web Development Styles */
.why-web-development {
    width: 850px;
    margin: 0 auto;
    padding: 80px 0;
}
.why-web-development > .section-description {
    padding-bottom: 24px;
}
.info {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 48px;
}
.info-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.info-description {
    padding: 16px 0 32px;
}
.info-img {
    width: 262px;
}

/* My inspiration styles */
iframe {
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    border-radius: 16px;
    margin: 48px 0;
}

/* Styles for Skills */
.skills {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}
.skill {
    padding: 40px;
}